@model PhoneBookEntityLayer.ViewModels.MemberPhoneViewModel

@{
    ViewData["Title"] = "EditPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>@Model.FriendNameSurname'e ait bilgiler</h4>
<hr />
<div class="row">
    <div class="col-md-6 offset-3">
        <form asp-action="EditPhone" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="CreatedDate" />
            <input type="hidden" asp-for="MemberId" />
            <input type="hidden" asp-for="PhoneTypeId" />
            <input type="hidden" asp-for="IsRemoved" />

            <div class="form-group">
                <label class="control-label">@Model.CreatedDate.ToString("dd/MM/yyyy")</label>
            </div>

            <div class="form-group">
                <label asp-for="FriendNameSurname" class="control-label"></label>
                <input asp-for="FriendNameSurname" class="form-control" />
                <span asp-validation-for="FriendNameSurname" class="text-danger"></span>
            </div>
            <div class="form-group">@*yarin zaman olursa burada phoneType yi degistirebilsin*@
                <label class="control-label">@Model.PhoneTypeId</label>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="GÜNCELLE" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

