@{
    ViewData["Title"] = "Home Page";
}

@if (TempData["AddPhoneSuccessMsg"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @* <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill" /></svg>*@
            <i class="bi bi-check-circle-fill"></i>
        @TempData["AddPhoneSuccessMsg"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

<div>
  <a class="btn btn-primary" asp-controller="Home" asp-action="AddPhone">
      Yeni Telefon Ekle
  </a>  
</div><br />




