@model AdminLeftMenuDataCountModel

<!-- Sidebar -->
<div class="sidebar">

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
                 with font-awesome or any other icon font library -->
            <li class="nav-header">Genel İşlemler</li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link" style="background-color:lightgray; color:black">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        Üye İşlemleri
                        <i class="right fas fa-angle-left"></i>
                        <span class="badge badge-danger right">@Model.TotalMemberCount</span>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Üye Listesi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index2.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Yeni Üye Ekle</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link" style="background-color:lightgray; color:black">
                    <i class="nav-icon fas fa-th"></i>
                    <p>
                        Tür İşlemleri
                        <i class="right fas fa-angle-left"></i>
                        <span class="badge badge-danger right">@Model.TotalPhoneTypeCount</span>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Tür Listesi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index2.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Yeni Tür Ekle</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item has-treeview">
                <a href="#" class="nav-link" style="background-color:lightgray; color:black">
                    <i class="nav-icon far fa-address-card"></i>
                    <p>
                        Rehber Listesi
                        <i class="right fas fa-angle-left"></i>
                        <span class="badge badge-danger right">@Model.TotalContactNumberCount</span>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="./index.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Rehber Listesi</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="./index2.html" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Rehbere Ekle</p>
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-header">Hesap Ayarları</li>
            <li class="nav-item">
                <a href="#" class="nav-link" style="background-color:lightgray; color:black">
                    <i class="fas fa-sign-in-alt nav-icon"></i>
                    <p>Giriş Yap</p>

                </a>
            </li>
        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->