@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Hoşgeldiniz...Sisteme Giriş Yapabilirsiniz </h3>

<div class="col-md-6 offset-3">
    <form asp-controller="Account" asp-action="Login" method="post">

        <div class="text-danger" asp-validation-summary="All">   </div>

        <div class="form-group">
            <label style="font-weight:bold">Email:</label>
            <input type="text" class="form-control" asp-for="Email" />
        </div> <br />
        <div class="form-group">
            <label style="font-weight:bold">Password:</label>
            <input type="password" class="form-control" asp-for="Password" />
        </div> <br />
        <div class="form-group">
            <button type="submit" class="btn btn-info">
                GİRİŞ YAP
            </button>
            <a class=" btn btn-danger">KAYIT OL</a>
        </div> <br />

    </form>

</div>

